[alias]
  s = status
  a = add -p
  aa = add -u :/
  c = "!f(){ git commit -m \"$(git branch --show-current) $1\"; }; f"
  sw = "!f(){ ( git switch $1 && exit 0;); git fetch origin $1 && git switch $1; }; f"
  p = push
  l = log
  sh = stash
  d = diff
  dd = diff origin/main...
  g = grep
